<div>
	Item: {{Name}} <br/>
	Amount: {{Price}}
	<br/><br/>
	Payment type:
	<div class="btn-group" role="group" aria-label="...">
	  <button type="button" id="paypalOption" class="btn btn-default">Paypal</button>
	  <button type="button" id="creditcardOption" class="btn btn-default">Credit card</button>
	</div>
	
	<br/><br/>
	<div id="accountinformationholder">

	</div>
	<br/><br/>
	<div class="btn-group btn-group-justified" role="group" aria-label="...">
	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-default" id="acceptButton">Accept</button>
	  </div>
	</div>	

	<p id = "giftSendingResult"></p>
</div>