<header class="bar bar-nav">
      <h1 class="title">Gift Case</h1>
</header>

  <nav class="bar bar-standard bar-tab bar-tab-custom">
      <div>
        <a class="tab-item" href="#" id="nav1">
          <span class="icon icon-person"></span>
          <span class="tab-label">Contacts</span>
        </a>
        <a class="tab-item" href="#" id="nav2">
          <span class="icon icon-compose"></span>
          <span class="tab-label">Events</span>
        </a>
        <a class="tab-item" href="#" id="nav3">
          <span class="icon icon-star-filled"></span>
          <span class="tab-label">Gift Box</span>
        </a>
      </div>
  </nav>

<!-- <nav id="navigation">
    <div id="nav1" class="i-4">nav 1</div>
    <div id="nav2" class="i-8">nav 2</div>
</nav> -->

<div id="content" class="content">
</div>