
<nav id="myNavmenuMenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">

  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" id = "logoutbutton">Logout</button>
    </div>
  </div>

  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" id = "closebutton">Close</button>
    </div>
  </div>
  
  <div id = "specializedMenu">
    
  </div>
</nav>

<header class="bar bar-nav">
      <h1 class="title">Gift Case</h1>
</header>
  <nav class="bar bar-standard bar-tab bar-tab-custom">
      <div>
        <a class="tab-item" href="#" id="nav1">
          <span class="icon icon-person"></span>
          <span class="tab-label">Contacts</span>
        </a>
        <a class="tab-item" href="#" id="nav2">
          <span class="icon icon-compose"></span>
          <span class="tab-label">Events</span>
        </a>
        <a class="tab-item" href="#" id="nav3">
          <span class="icon icon-star-filled"></span>
          <span class="tab-label">Gift Box</span>
        </a>
        <a href="#" id="nav4" class="tab-item" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenuMenu" data-canvas="body">
          <span class="icon icon-gear"></span>
          <span class="tab-label">Settings</span>
        </a>
      </div>
  </nav>

<div id="content" class="content">
    

  <h3 id = "welcomemessage"></h2>
</div>